* {
    text-decoration: none !important;
}

.login-popup-form{
    text-decoration: none;
    background-color: #FFAF94;
    height: 85px;
    display: inline-block;
    width:  214px;
    text-align: center;
    border-radius: 28px;
    border-width: 4px;
    border-style: solid;
    border-color: #9E553C;
    font-size: 66px;
    position: absolute;
    right: calc(50% - 112px);
    top: 60%;
    color: white;
    letter-spacing: -2px;
    -webkit-text-stroke: 3px #9E553C;
}

.register-popup-form{
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: calc(50% - 112px);
    top: calc(60% + 112px);
    color: #9E553C;
    letter-spacing: -1px;
    font-size: 30px;
}

.ajax-progress-throbber {
    display: none
}

.title-text {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-color: #9E553C;
    font-size: 96px;
    position: absolute;
    right: calc(50% - 142px);
    top: calc(60% - 232px);
    color: white;
    letter-spacing: -2px;
    -webkit-text-stroke: 5px #9E553C;
}

.logo-img {
    display: inline-block;
    position: absolute;
    right: calc(50% - 104px);
    top: calc(60% - 312px);
}

.description {
    display: none;
}

.ui-widget-content {
    border-radius: 12px;
    height: 400px !important;
}

.form-text {
    font-family: jua;
    color: white;
    width: 95%;
    background-color: #FFAF94;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    padding-left: 8px;
}

.form-text:focus {
    outline: none;
    background-color: white;
    color:#9E553C;  
}

.form-email {
    width: 95%;
    background-color: #FFAF94;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    padding-left: 8px;
}

.form-email:focus {
    outline: none;
    background-color: white;
    color:#9E553C;  
}

.form-tel {
    width: 95%;
    background-color: #FFAF94;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    padding-left: 8px;
}

.form-tel:focus {
    outline: none;
    background-color: white;
    color:#9E553C;  
}

.form-submit {
    text-decoration: none;
    background-color: #FFAF94;
    display: inline-block;
    text-align: center;
    border-radius: 28px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    font-size: 66px;
    position: absolute;
    right: calc(50% - 112px);
    top: 60%;
    color: white;
    letter-spacing: -2px;
    -webkit-text-stroke: 3px #9E553C;
    font-family: jua;
}

.form-select {
    margin-left: 20px;
    font-family: jua;
    background: #FFAF94;
    color: white;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 26px;
}

.header-text {
    position: absolute;
    font-size: 44px;
    display: inline-block;
    text-align: center;
    top: 9%;
    right: calc(50% - 72px);
    color: #EB8F70;
    margin: unset;
}

.h2 {
    margin: unset;
}

.personal-information-block {
    position: absolute;
    display: inline-block;
    top: 18%;
    width: 100%;
    color: #9E553C;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment-block {
    position: absolute;
    display: inline-block;
    top: 42%;
    width: 100%;
    color: #9E553C;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address-block {
    position: absolute;
    display: inline-block;
    top: 66%;
    width: 100%;
    color: #9E553C;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ui-dialog .ui-dialog-buttonpane {
    background: unset;
    border-width: 0 0 0 0;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 2.75em -0.6em 0.5em 0;
    cursor: pointer;
    font-size: 34px;
    -webkit-text-stroke: 2px #9E553C;
    font-family: jua;
    width: 134px;
    height: 52px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
    -webkit-text-stroke: 2px #9E553C;
    background-color: white;
    z-index: 101;
    color: #FFAF94;
    border-radius: 28px;
    border-width: 4px;
    border-style: solid;
    border-color: #9E553C;
}

.ui-dialog-titlebar {
    border-width: 4px;
    background-color: white;
    color: #EB8F70;
    font-size: 30px;
}

.ui-widget-header {
    border: 1px solid white;
    font-family: jua;
}

.ui-dialog .ui-dialog-titlebar-close {
    right: 0.85em;
}

.form-required {
    right: 0.85em;
    font-family: jua;
    color: #EB8F70;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: jua;
    color: white;
}

.ui-dialog-titlebar-close  {
    background-color: #FFAF94;
    border-color: #9E553C;
    border-width: 3px;
}

.ui-dialog-titlebar-close:hover  {
    background-color: white;
    border-color: #9E553C;
    border-width: 3px;
}

.header-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 54px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 6px;
}

.hamburger {
    left: 3%;
    position: absolute;
}

.cart {
    right: 3%;
    position: absolute;
}

.slick-dots {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 48px;
    padding-right: 48px;
}

.slick__arrow {
    width: 90%;
    display: flex;
    align-content: center;
    top: -45px;
    margin-left: 5%;
    position: relative;
    justify-content: space-between;
    margin-right: 5%;
    margin-bottom: 20px;
}

.slick .slick-prev::before {
    content: '<';
  }

  .slick .slick-prev {
    background: #EB8F70;
    border: none;
    font-size: 30px;
    color: white;
}

.slick .slick-next::before {
    content: '>';
}

.slick .slick-next {
    background: #EB8F70;
    border: none;
    font-size: 30px;
    color: white;
}

button[role="tab"] {
    background: white;
    border-radius: 64px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    content: ' ';
    z-index: 101;
    position: relative;
    color: white;
    width: 23px;
    height: 23px;
 }

 button[role="tab"][aria-selected="true"] {
    border-color: #9E553C;
    border-width: 4px;
}

.username_view {
    position: absolute;
    font-size: 26px;
    display: flex;
    text-align: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    top: 15px;
}

.views-field-name {
   /* display: flex;*/
}

.form-item-field-phone-0-value {
    font-family: jua;
    color: #EB8F70;
}

.form-tel  {
    font-family: jua;
    color: white;
    background-color: #FFAF94;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;    
}

.js-form-item-field-tags-target-id {
    color: white;
    font-size: 24px;
    display: flex;
}

.js-form-item-title {
    color: white;
    font-size: 24px;
}

.disabled {
    pointer-events: none;
}

.password-confirm-message {
    display: none;
}

.product_search {
    width: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.js-view-id-product_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
    left: 7.5%;
    position: relative;
}

.js-view-id-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.js-view-id-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.page-div {
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.hr-one {
    top: 17.5%;
    position: relative;
    background: #EB8F70;
    width: 80%;
    height: 3px;
    left: 10%;
}

.hr-two {
    top: 40%;
    position: relative;
    background: #EB8F70;
    width: 80%;
    height: 3px;
    left: 10%;
}

.hr-three {
    top: 62.5%;
    position: relative;
    background: #EB8F70;
    width: 80%;
    height: 3px;
    left: 10%;
}

.views-field-field-phone {
    display: flex;
}

.product-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.field_tags {
    display: inline-flex;
    -webkit-text-stroke: 1.5px #9E553C;
    color: white !important;
    font-size: 28px;
    width: 80%;
    flex-wrap: nowrap;
    justify-content: space-between;
    top: 4px;
    position: relative;
}

.field_name {
    color: white;
    font-size: 54px;
    -webkit-text-stroke: 3.5px #9E553C;
    letter-spacing: -1px;
    top: 312px;
    position: absolute;
    text-align: center;
    line-height: 54px;
}

.field_description {
    color: #7a4330;
    margin: 5px;
    text-align: center;
    font-size: 22px;
}

.field_price {
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    -webkit-text-stroke: 1.5px #9E553C;
    font-size: 22px;
}

.product-image {
    border-radius: 20px;
    border-color: #9E553C;
    border-width: 4px;
    border-style: solid;
}

.product-view-image {
    border-radius: 30px;
}

.bef-exposed-form {
    margin-bottom: 20px;
}

.product-view-title {
    color: white;
    text-align: center;
}

fieldset {
    border: none;
}

.clear-cart {
    position: unset;
    font-size: 24px;
    -webkit-text-stroke: 2px #9E553C;
}

.submit-cart {
    position: unset;
    font-size: 24px;
    -webkit-text-stroke: 2px #9E553C;
}

.product-form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}

.product-form .button {
    -webkit-text-stroke: 2px #9E553C !important;
    font-size: 36px !important;
    position: unset !important;
    color: white !important;
    font-weight: unset !important;
    padding: 8px;
}

.product-form .button:hover {
    -webkit-text-stroke: 2px #9E553C;
    background-color: white;
    z-index: 101;
    color: #FFAF94;
    border-radius: 28px;
    border-width: 4px;
    border-style: solid;
    border-color: #9E553C;
}

.views-field-title .field-content a {
    color: white;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 28px;
    position: relative;
    top: -75px;
}

.field-content {
    text-align: center;
     /* height: 64px;*/
}

.views-field-title {
    display: flex;
    justify-content: center;
    height: 0px;
}

.font-your-face {
    margin: 0;
}

.js-form-item {
}

.fieldset-wrapper img {
    width: 30%;
    border-radius: 30px;
    border-style: solid;
    color: #9E553C;
    border-width: 4px;
}

.fieldset-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    top: 5px;
    position: relative;
}

.form-number {
    width: 14px;
}

.back-button {
    text-decoration: none;
    background-color: #FFAF94;
    display: inline-block;
    text-align: center;
    border-radius: 28px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    font-size: 66px;
    position: absolute;
    right: calc(50% - 112px);
    top: 60%;
    color: white;
    letter-spacing: -2px;
    -webkit-text-stroke: 3px #9E553C;
    font-family: jua;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 22px;
    position: unset;
    z-index: 200;
}

.logout-button {
    text-decoration: none;
    background-color: #FFAF94;
    display: inline-block;
    text-align: center;
    border-radius: 28px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    font-size: 66px;
    position: absolute;
    right: 2.5%;
    color: white;
    letter-spacing: -2px;
    -webkit-text-stroke: 3px #9E553C;
    font-family: jua;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 22px;
    z-index: 200;
}

.quantity-input {
    width: 42px;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 36px;
    text-align: center;
    border-radius: 20px;
}

.quantity-button {
    font-family: jua;
    color: white;
    background-color: #FFAF94;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    width: 36px;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 36px;
    display: flex;
    justify-content: center;
    position: unset;
}

.quantity-wrapper {
    margin-left: 5px;
    margin-right: 5px;
}

.group-wrapper {
    display: flex;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 105%;
    height: 300%;
    z-index: 102;
    left: 0;
    top: 0;
    display: none;
}

.hamburger-modal {
    width: 40%;
    height: 100%;
    z-index: 103;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.hamburger-active {
    position: absolute;
    left: calc(3% + 6px);
    top: 24px;
}

.hamburger-modal a {
    font-size: 26px;
    top: 64px;
    position: relative;
    left: 20px;
    color: #EB8F70;
}

.cart-form {
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.fieldset-legend {
    color: #7a4330;
    font-size: 22px;
}

.cart-form fieldset {
    text-align: center;
    margin-top: 10px;
}

.update-price {
    color: white;
    font-size: 26px;
}

.total-price {
    color: white;
    font-size: 22px;
    text-align: center;
}

#block-cuppies-theme-notificationsblock {
    position: absolute;
    display: inline-block;
    top: 19%;
    width: 100%;
    color: #9E553C;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -14px;
}

.notifications-block {
    display: flex;
    width: 60%;
    left: 20%;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
}

.notifications-block p {
    margin: 0px;
}

body hr {
    background: white;
    height: 2px;
    border: white;
    width: 95%;
}

.top-picks {
    text-align: center;
    font-size: 36px;
    color: white;
    -webkit-text-stroke: 2.5px #9E553C;
    letter-spacing: -1px;
    margin: 16px;
}

.views-element-container {
    width: 110%;
    left: -5%;
    position: relative;
}

#block-cuppies-theme-views-block-product-search-block-1 {
    top: -50px;
}

#edit-field-name-value {
    left: 5%;
    position: relative;
    margin-bottom: 10px;
    top: -10px;
    height: 22px;
    font-size: 17px;
}

.views-field-field-image .field-content a img {
    object-fit: cover;
    object-position: 50% 25%;
    width: 100px;
    height: 250px;
    border-radius: 36px;
}

.field_tags div{
    display: flex;
}

.field_tags div div{
    margin-left: 10px;
    background-color: #FFAF94;
    border-radius: 64px;
    border-style: solid;
    border-color: #9E553C;
    font-size: 22px;
    padding-left: 4px;
    padding-right: 4px;
}

.views-exposed-form .form-item-field-name-value #edit-field-name-value {
    width: 80%
}

.form-checkboxes div label {
    color: #7a4330;
}

.account-form {
    text-align: center;
    width: 98%;
    height: 98%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.address-field {
    width: 60%;
}

.payment-field {
    width: 60%;
}

.payment-title {
    top: 41.5%;
    position: relative;
    color: #9E553C;
}

.address-title {
    top: 45%;
    position: relative;
    color: #9E553C;
}

.address-group-wrapper {
    top: 45%;
    position: relative;
}


.submit-account {
    font-size: 24px;
    -webkit-text-stroke: 2px #9E553C;
    position: absolute;
    top: 90%;
    width: 50%;
    right: 25%;
}


.form-item-payment0 {
    top: 42%;
    position: relative;
}
.form-item-payment1 {
    top: 42%;
    position: relative;
}
.form-item-payment2 {
    top: 42%;
    position: relative;
}

.form-item-address0 {
    top: 45%;
    position: relative;
}
.form-item-address1 {
    top: 45%;
    position: relative;
}
.form-item-address2 {
    top: 45%;
    position: relative;
}

#edit-address {
    width: 90%;
}

#edit-payment {
    width: 90%;
}

.js-form-item-address label {
    font-size: 22px;
    color: #7a4330;
    padding-left: 28px;
}

.js-form-item-payment label {
    font-size: 22px;
    color: #7a4330;
    padding-left: 28px;
}

.js-form-item-address{
    margin-top: 10px;
}

.js-form-item-payment {
    margin-top: 10px;
}

.messages-class {
    position: absolute;
    background: white;
    border-radius: 20px;
    padding: 12px;
    width: 90%;
    right: 1%;
    z-index: 300;
    border-color: #9E553C;
    border-width: 3px;
    border-style: solid
}

.close-message {
    position: absolute;
    right: 5%;
    border: none;
    color: #cf8f79;
    border-radius: 6px;
    font-family: jua;
    background-color: #ffd9cc;
}

.messages--error {
    display: none;
}

div[role=alert] {
 display: none;
}

.settings-form {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.notifications-fields .fieldset-wrapper {
    text-align: left !important;
}

.notifications-block .fieldset-wrapper {
    display:block;
    text-align: center;
}

.notifications-block .fieldset-wrapper h2{
    margin: 0;
}

.submit-settings {
    font-size: 24px;
    -webkit-text-stroke: 2px #9E553C;
    position: absolute;
    top: 90%;
    width: 50%;
    right: 25%;
}

.field_tags div div a{
    color: white;
}

.field_tags div div a:visited{
    -webkit-text-stroke: 1.5px #9E553C;
}

.clear-filters {
    background-color: #FFAF94;
    text-align: center;
    border-radius: 28px;
    border-width: 3px;
    border-style: solid;
    border-color: #9E553C;
    color: white;
    letter-spacing: -2px;
    font-family: jua;
    -webkit-text-stroke: 2px #9E553C;
    font-size: 22px;
    margin-top: 10px;
}

.cart-amount {
    color: #7a4330;
    position: absolute;
    background-color: #f4f1f1;
    border-radius: 24px;
    width: 18px;
    height: 18px;
    text-align: center;
    right: 10px;
    top: -5px;
    z-index: 1;
    font-family: jua;
}

.desktop-warning {
    background-color: black;
    color: white;
    position: absolute;
    width: 105%;
    height: 270%;
    top: -15%;
    left: 0;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
}

.desktop-warning p {
    width: 80%;
    top:-20%;
    position: relative;
    left: 10%;
}

@media (max-width: 692px) {
    .desktop-warning {
        display: none;
    }
}